
# Redis
REDIS_PASSWORD = 
REDIS_PORT = 
REDIS_HOST = 

# Mongoose
MONGO_DB_HOST = 

#SMTP
SMTP_HOST=
SMTP_PORT=

CLIENT_ID=
CLIENT_SECRET=

REDIRECT_URI = 
REFRESH_TOKEN = 
OTP_KEY = 


JWT_TOKEN_SECRET=

